@font-face {
    font-family: 'Space-Grotesk';
    src: url(/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
    background-color: rgb(250, 250, 250);
    margin: 0px;
    padding: 0px;
    font-family: 'Space-Grotesk';
    cursor: url(/Images/Cross_Cursor.svg) 16 16, auto;
}

/* homepage */

.homepage {
    margin: 25px 25px;
}


.menu {
    width: 25%;
    height: 100vh;
    float: left;
    overflow: hidden;
}

.text {
    position: fixed;
}

.menu a {
    text-decoration: none;
    color: #111111;
    font-size: 24px;
    font-weight: 300;
}

.menu a:hover {
    color: #0000FF;
}

.content {
    width: 75%;
    float: left;
}

.content img {
    margin-bottom: 25px;
}

.content a:hover {
    opacity: 0.8;
    transition: 0.5s;
}

/* about me page */

.about-text {
    width: 75%;
}

.credits {
    font-size: 16px;
    font-weight: 250;
    margin-top: 350px;
}

.about-text p {
    width: 90%;
    font-size: 16px;
    font-weight: 300;
}

.links {
    text-decoration: underline;
    color: #111111;
    font-size: 16px;
    font-weight: 300;
}

.links:hover {
    color: #0000FF;
}

/* individual projects page */

.description {
    font-size: 16px;
    font-weight: 300;
    width: 20%;
    position: fixed;
    bottom: 35px;
    left: 25px;
    text-align: left;
}