@font-face {
    font-family: 'Space-Grotesk';
    src: url('./fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Comrade Display';
    src: url('./fonts/Comrade-Display.woff') format('woff');
}

body {
    background-color: rgb(250, 250, 250);
    margin: 0px;
    padding: 0px;
    font-family: 'Space-Grotesk';
    cursor: url('./Images/BlueDot.svg') 10 10, auto;
}

a {
    cursor: url('./Images/BlueDot.svg') 10 10, auto;
}

/* portrait mode for phones */

@media only screen and (max-width: 480px) and (orientation: portrait) {

    /* homepage */

    div.homepage {
        margin: 25px 25px;
    }

    div.homepage div.menu {
        width: 100%;
        height: 80px;
        float: left;
        overflow: visible;
    }

    div.homepage div.menu p.text {
        position: fixed;
    }

    div.homepage div.content {
        width: 75%;
    }

    div.homepage div.content img {
        height: 150px;
        position: relative;
        transform: translateX(0px);
        filter: brightness(1);
    }

    div.homepage div.content img.project1 {
        top: 0px;
        left: 0px;
    }

    div.homepage div.content img.project2 {
        top: 10px;
        left: 15px;
    }

    div.homepage div.content img.project3 {
        top: 20px;
        left: 30px;
    }

    div.homepage div.content img.project4 {
        top: 30px;
        left: 45px;
    }

    /* about me page */

    div.homepage div.about-text {
        width: 100%;
    }

    div.homepage p.credits {
        font-size: 14px;
        font-weight: 250;
        margin-top: 20px;
    }

    div.homepage div.about-text p {
        width: 90%;
        font-size: 14px;
        font-weight: 300;
    }

    div.homepage div.about-text a.links {
        text-decoration: underline;
        color: #111111;
        font-size: 14px;
        font-weight: 300;
    }

    /* individual projects page */

    div.homepage div.description {
        width: 100%;
        position: relative;
        bottom: 0px;
        left: 0px;
        text-align: left;
    }

    div.homepage div.description p {
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px
    }

    div.homepage div.description a.links {
        font-size: 14px;
    }

    div.homepage div.description a.button {
        text-decoration: none;
        color: #111111;
        font-size: 20px;
        font-weight: 300;
    }

    div.homepage div.projects {
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    div.homepage div.projects img {
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    div.homepage div.projects div.vimeo-wrapper {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        position: relative;
        padding-top: 39.06%; /* Aspect ratio (based on original setup) */
    }

    div.homepage div.projects div.vimeo-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    div.homepage div.projects textarea {
        font-family: 'Comrade Display';
        font-size: 30px;
        color: #f4f4f0;
        background-color: #cd140b;
        border: none;
        padding: 10px 10px;
        resize: none;
        max-width: 100%;
        height: 100px;
        outline: none;
        box-sizing: border-box;
    }
}

/* landscape mode for phones */

@media only screen and (max-width: 950px) and (orientation: landscape) {

    /* homepage */

    div.homepage {
        margin: 25px 25px;
    }

    div.homepage div.menu {
        width: 25%;
        height: 100vh;
        float: left;
        overflow: visible;
    }

    div.homepage div.menu div.text {
        position: fixed;
    }

    div.homepage div.menu div.text a {
        text-decoration: none;
        color: #111111;
        font-size: 18px;
        font-weight: 300;
    }

    div.homepage div.content {
        width: 75%;
        position: relative;
    }

    div.homepage div.content img {
        height: 150px;
        position: absolute;
        transform: translateX(170px);
        filter: brightness(1);
    }

    div.homepage div.content img.project1 {
        top: 0px;
        left: 0px;
    }

    div.homepage div.content img.project2 {
        top: 60px;
        left: 150px;
    }

    div.homepage div.content img.project3 {
        top: 120px;
        left: 300px;
    }

    div.homepage div.content img.project4 {
        top: 180px;
        left: 450px;
    }

    /* about me page */

    div.homepage div.about-text {
        width: 100%;
    }

    div.homepage p.credits {
        font-size: 10px;
        font-weight: 250;
        margin-top: 150px;
    }

    div.homepage div.about-text p {
        width: 70%;
        font-size: 10px;
        font-weight: 300;
    }

    div.homepage div.about-text a.links {
        text-decoration: underline;
        color: #111111;
        font-size: 10px;
        font-weight: 300;
    }

    /* individual projects page */

    div.homepage div.description {
        width: 20%;
        position: fixed;
        bottom: 15px;
        left: 25px;
        text-align: left;
    }

    div.homepage div.description p {
        font-size: 10px;
        font-weight: 300;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px
    }

    div.homepage div.description a.links {
        font-size: 10px;
    }

    div.homepage div.description a.button {
        text-decoration: none;
        color: #111111;
        font-size: 15px;
        font-weight: 300;
    }

    div.homepage div.projects {
        width: 75%;
        float: left;
        margin-bottom: 15px;
    }

    div.homepage div.projects img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    div.homepage div.projects div.vimeo-wrapper {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        position: relative;
        padding-top: 39.06%; /* Aspect ratio (based on original setup) */
    }

    div.homepage div.projects div.vimeo-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    div.homepage div.projects textarea {
        font-family: 'Comrade Display';
        font-size: 50px;
        color: #f4f4f0;
        background-color: #cd140b;
        border: none;
        padding: 30px 30px;
        resize: none;
        max-width: 100%;
        height: 200px;
        outline: none;
        box-sizing: border-box;
    }
}

/* homepage */

.homepage {
    margin: 25px 25px;
}

.menu {
    width: 25%;
    height: 100vh;
    float: left;
    overflow: hidden;
}

.text {
    position: fixed;
}

.text a {
    text-decoration: none;
    color: #111111;
    font-size: 24px;
    font-weight: 300;
}

.text a:hover {
    color: #0000FF;
}

.content {
    width: 75%;
    position: relative;
}

.content img {
    position: absolute;
    transform: translateX(300px);
    filter: brightness(0.7);
}

.content a:hover img {
    z-index: 10;
    filter: brightness(1);
    transition: 0.3s;
}

.project1 {
    top: 0px;
    left: 0px;
    z-index: 4;
}

.project2 {
    top: 100px;
    left: 150px;
    z-index: 3;
}

.project3 {
    top: 200px;
    left: 250px;
    z-index: 2;
}

.project4 {
    top: 300px;
    left: 350px;
    z-index: 1;
}

/* about me page */

.about-text {
    width: 75%;
}

.credits {
    font-size: 16px;
    font-weight: 250;
    margin-top: 350px;
}

.about-text p {
    width: 90%;
    font-size: 16px;
    font-weight: 300;
}

.links {
    text-decoration: underline;
    color: #111111;
    font-size: 16px;
    font-weight: 300;
}

.links:hover {
    color: #0000FF;
}

/* individual projects page */

.description {
    width: 20%;
    position: fixed;
    bottom: 35px;
    left: 25px;
    text-align: left;
}

.description p {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px
}

.button {
    text-decoration: none;
    color: #111111;
    font-size: 24px;
    font-weight: 300;
}

.button:hover {
    color: #0000FF;   
}

.projects {
    width: 75%;
    float: left;
    margin-bottom: 25px;
}

.projects img {
    margin-bottom: 25px;
}

.vimeo-wrapper {
  width: 1020px;
  margin-bottom: 25px;
  position: relative;
  padding-top: 39.06%; /* Aspect ratio (based on original setup) */
}

.vimeo-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

textarea {
    font-family: 'Comrade Display';
    font-size: 80px;
    color: #f4f4f0;
    background-color: #cd140b;
    border: none;
    padding: 30px 30px;
    resize: none;
    max-width: 1020px;
    height: 400px;
    outline: none;
    box-sizing: border-box;
}

textarea::placeholder {
    color: #f4f4f0;
}